body {
  background-image: url("acbg.webp");
  background-size: cover;
}

.banner {
  display: block;
  margin: auto;
}

ul {
  text-align: center;
}

li {
  display: inline;
}

a {
  display: inline-block;
  color: gold;
  text-decoration: none;
  padding: 20px;
}

a:hover {
  background-color: black;
  color: gold;
}

nav {
  font-family: 'Antic Slab', serif;
  background-color: black;
  border-radius: 20px;
}

section {
  width: 60% margin: auto;
  background-color: black;
  padding: 20px;
  border-radius: 20px;
}

header {
  color: gold;
  font-size: 100px;
  background-color: black;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: gold;
}

p1 {
  color: gold;
  font-family: 'Antic Slab', serif;
  font-size: 40px;
}

p2 {
  color: gold;
  font-family: 'Antic Slab', serif;
  font-size: 50px;
}

p3 {
  color: gold;
  font-family: 'Antic Slab', serif;
  font-size: 20px;
}

h1 {
  color: gold;
  font-family: 'Antic Slab', serif;
}

h2 {
  color: gold;
  font-family: 'Antic Slab', serif;
}

h3 {
  color: gold;
  font-family: 'Antic Slab', serif;
}

h4 {
  color: gold;
  font-family: 'Antic Slab', serif;
}

header {
  font-size: 50px;
}

figcaption {
  color: gold;
}

button {
  background-color: gold;
  color: black;
  border-radius: 50px;
  font-family: 'Antic Slab', serif;
  font-size: 50px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}